In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pd.pandas.set_option('display.max_columns',None)
df=pd.read_csv("Boats_Cleaned_dataset.csv")
df.head()

,Unnamed: 0,id,type,boatClass,make,model,year,condition,length_ft,beam_ft,dryWeight_lb,hullMaterial,fuelType,numEngines,totalHP,maxEngineYear,minEngineYear,engineCategory,price,sellerId,city,state,zip,created_date,created_month,created_year
0,1,7252689,power,power-center,Aquasport,210 CC,1992,used,21.0,8.50,3000.0,fiberglass,gasoline,1,150.0,NaN,NaN,outboard-4s,16500.0,217053,Englewood,FL,34224,2019-10-16,10,2019
1,3,7228300,power,power-sportcruiser,Formula,400 Super Sport,2018,used,40.0,11.00,16100.0,fiberglass,diesel,2,800.0,2018.0,2018.0,inboard-outboard,539000.0,44260,Harsens Island,MI,48028,2019-09-24,9,2019
2,5,7271336,power,power-deck,Bayliner,Element 180,2020,new,18.0,7.42,2000.0,fiberglass,gasoline,1,75.0,2019.0,2019.0,outboard-4s,26995.0,220570,Marietta,OH,45750,2019-11-02,11,2019
3,6,7222952,power,power-expresscruiser,Regal,32 Express,2015,used,32.0,10.33,12650.0,fiberglass,gasoline,2,600.0,NaN,NaN,multiple,169995.0,34834,North Charleston,SC,29405,2019-09-19,9,2019
4,8,6824832,power,power-aft,Carver,440 Aft Cabin Motor Yacht,1994,used,44.0,15.00,32000.0,fiberglass,diesel,2,700.0,1994.0,1994.0,inboard,109900.0,17942,Middle River,MD,21220,2018-08-29,8,2018

In [3]:
df[['year','maxEngineYear','minEngineYear','created_date','created_year']]

       year  maxEngineYear  minEngineYear created_date  created_year
0      1992            NaN            NaN   2019-10-16          2019
1      2018         2018.0         2018.0   2019-09-24          2019
2      2020         2019.0         2019.0   2019-11-02          2019
3      2015            NaN            NaN   2019-09-19          2019
4      1994         1994.0         1994.0   2018-08-29          2018
...     ...            ...            ...          ...           ...
18898  2013            NaN            NaN   2019-06-25          2019
18899  2013            NaN            NaN   2019-06-12          2019
18900  2019            NaN            NaN   2018-12-12          2018
18901  2004            NaN            NaN   2019-05-10          2019
18902  2002         2002.0         2002.0   2019-07-08          2019

[18903 rows x 5 columns]

In [4]:
# list of numerical variables
numerical_features = [feature for feature in df.columns if df[feature].dtypes != 'O']

print('Number of numerical variables: ', len(numerical_features))

# visualise the numerical variables
df[numerical_features].head()

Number of numerical variables:  14

,Unnamed: 0,id,year,length_ft,beam_ft,dryWeight_lb,numEngines,totalHP,maxEngineYear,minEngineYear,price,sellerId,created_month,created_year
0,1,7252689,1992,21.0,8.50,3000.0,1,150.0,NaN,NaN,16500.0,217053,10,2019
1,3,7228300,2018,40.0,11.00,16100.0,2,800.0,2018.0,2018.0,539000.0,44260,9,2019
2,5,7271336,2020,18.0,7.42,2000.0,1,75.0,2019.0,2019.0,26995.0,220570,11,2019
3,6,7222952,2015,32.0,10.33,12650.0,2,600.0,NaN,NaN,169995.0,34834,9,2019
4,8,6824832,1994,44.0,15.00,32000.0,2,700.0,1994.0,1994.0,109900.0,17942,8,2018

In [5]:
# list of variables that contain year information
year_feature = [feature for feature in numerical_features if 'Yr' in feature or 'Year' in feature]

year_feature

['maxEngineYear', 'minEngineYear']

In [6]:
for feature in ['maxEngineYear','minEngineYear','year']:
  df[feature]=df['created_year']-df[feature]
df.head(50)

,Unnamed: 0,id,type,boatClass,make,model,year,condition,length_ft,beam_ft,dryWeight_lb,hullMaterial,fuelType,numEngines,totalHP,maxEngineYear,minEngineYear,engineCategory,price,sellerId,city,state,zip,created_date,created_month,created_year
0,1,7252689,power,power-center,Aquasport,210 CC,27,used,21.00,8.50,3000.0,fiberglass,gasoline,1,150.0,NaN,NaN,outboard-4s,16500.0,217053,Englewood,FL,34224,2019-10-16,10,2019
1,3,7228300,power,power-sportcruiser,Formula,400 Super Sport,1,used,40.00,11.00,16100.0,fiberglass,diesel,2,800.0,1.0,1.0,inboard-outboard,539000.0,44260,Harsens Island,MI,48028,2019-09-24,9,2019
2,5,7271336,power,power-deck,Bayliner,Element 180,-1,new,18.00,7.42,2000.0,fiberglass,gasoline,1,75.0,0.0,0.0,outboard-4s,26995.0,220570,Marietta,OH,45750,2019-11-02,11,2019
3,6,7222952,power,power-expresscruiser,Regal,32 Express,4,used,32.00,10.33,12650.0,fiberglass,gasoline,2,600.0,NaN,NaN,multiple,169995.0,34834,North Charleston,SC,29405,2019-09-19,9,2019
4,8,6824832,power,power-aft,Carver,440 Aft Cabin Motor Yacht,24,used,44.00,15.00,32000.0,fiberglass,diesel,2,700.0,24.0,24.0,inboard,109900.0,17942,Middle River,MD,21220,2018-08-29,8,2018
5,9,7240180,power,power-cruiser,Azimut,43,0,used,43.00,13.92,29650.0,fiberglass,diesel,2,800.0,NaN,NaN,multiple,625000.0,28771,Miami,FL,33140,2019-10-04,10,2019
6,10,6851456,power,power-mega,Galeon,470 SKY,-1,new,46.00,14.33,36817.0,fiberglass,diesel,2,1100.0,NaN,NaN,inboard,949000.0,44179,Port Clinton,OH,43452,2018-09-21,9,2018
7,11,6851563,power,power-mega,Galeon,500 Fly,-1,new,50.00,19.67,50155.0,fiberglass,diesel,2,1340.0,NaN,NaN,inboard,1349000.0,44179,Port Clinton,OH,43452,2018-09-21,9,2018
8,13,6952573,power,power-flybridge,Johnson,Raised Pilot House,10,used,103.00,23.42,178000.0,fiberglass,diesel,2,3650.0,NaN,NaN,inboard,3299000.0,28771,Miami,FL,33131,2019-01-09,1,2019
9,14,6920067,power,power-convertible,Hatteras,Convertible,47,used,42.00,13.83,35400.0,fiberglass,diesel,2,840.0,41.0,41.0,inboard,59500.0,16876,Mystic,CT,06355,2018-11-26,11,2018
10,15,7034740,power,power-convertible,Hatteras,Convertible,40,used,43.00,14.50,41000.0,fiberglass,diesel,2,900.0,40.0,40.0,inboard,79500.0,16876,Clinton,CT,06357,2019-03-31,3,2019
11,16,3515831,sail,sail-racercruiser,Newport,Mk III,25,used,30.00,10.67,NaN,fiberglass,diesel,1,0.0,NaN,NaN,NaN,25500.0,16876,Mystic,CT,NaN,2011-03-25,3,2011
12,18,6987261,power,power-pontoon,Starcraft,EXS-3 Sport,0,new,23.70,8.50,2100.0,aluminum,gasoline,1,200.0,NaN,NaN,outboard-4s,44507.0,34914,Selbyville,DE,19975,2019-02-13,2,2019
13,19,4355354,power,power-motor,Fairline,Squadron 55,13,used,55.00,NaN,NaN,fiberglass,diesel,2,0.0,13.0,NaN,NaN,299000.0,6123,Fort Lauderdale,FL,33316,2013-05-03,5,2013
14,20,7271325,sail,sail-cruiser,Hunter,30,30,used,30.00,11.00,NaN,fiberglass,diesel,1,18.0,NaN,NaN,inboard,31000.0,149297,Frisco,CO,80443,2019-11-02,11,2019
15,23,7077417,power,power-sportcruiser,Sea Ray,Sundancer 350 Coupe,2,used,35.00,11.33,18792.0,fiberglass,gasoline,2,760.0,NaN,NaN,NaN,323536.0,44163,Norwalk,CT,06854,2019-05-09,5,2019
16,24,6920884,power,power-bay,Xpress,Boats H22B,-1,new,22.00,7.75,1528.0,aluminum,gasoline,1,175.0,NaN,NaN,outboard,36900.0,5048,Fenton,MI,48430,2018-11-27,11,2018
17,25,6920872,power,power-bay,Xpress,Boats H20B,-1,new,20.00,7.75,1436.0,aluminum,gasoline,1,115.0,NaN,NaN,outboard,22900.0,5048,Fenton,MI,48430,2018-11-27,11,2018
18,26,7183782,power,power-sportfish,Ocean,48 Super Sport,19,used,48.00,16.00,45000.0,fiberglass,diesel,2,1320.0,19.0,19.0,inboard,325000.0,17929,Waretown,NJ,08742,2019-08-15,8,2019
19,27,6947573,power,power-saltfish,Bertram,54,32,used,54.00,17.83,83737.0,fiberglass,diesel,2,1800.0,32.0,32.0,inboard,169900.0,14386,Destin,FL,32541,2019-01-03,1,2019
20,28,7220141,power,power-motor,Bayliner,3788 Command Bridge Motoryacht,18,used,38.00,13.42,22724.0,fiberglass,diesel,2,660.0,NaN,NaN,inboard,89990.0,17929,Point Pleasant Beach,NJ,34949,2019-09-16,9,2019
21,29,7113484,sail,sail-ketch,Pearson,365 Ketch,42,used,36.42,11.42,17700.0,fiberglass,diesel,1,43.0,NaN,NaN,inboard,39900.0,17929,Port Saint Lucie,FL,34945,2019-06-14,6,2019
22,30,7204107,power,power-center,Contender,35 ST,1,used,35.00,9.83,6600.0,fiberglass,gasoline,3,900.0,1.0,1.0,outboard,315000.0,17929,Stuart,FL,34997,2019-09-03,9,2019
23,31,3135824,power,power-sportfish,Henriques,35 Express,12,used,35.00,13.00,NaN,fiberglass,diesel,2,740.0,12.0,12.0,inboard,174900.0,17929,NaN,NJ,NaN,2011-01-27,1,2011
24,32,7160139,power,power-walk,Century,3100 Walk-Around,19,used,31.00,10.50,7200.0,fiberglass,gasoline,2,500.0,19.0,19.0,outboard-2s,39900.0,17929,Stuart,FL,34996,2019-07-26,7,2019
25,33,1051209,power,power-saltfish,Rampage 28,EXPRESS,19,used,28.00,11.00,NaN,fiberglass,gasoline,2,620.0,-7.0,-7.0,inboard,49900.0,17929,NaN,NJ,NaN,2007-02-11,2,2007
26,34,6813447,power,power-pontoon,Sun Tracker,Party Barge 24 DLX,-1,new,26.17,8.50,2200.0,aluminum,NaN,1,150.0,NaN,NaN,outboard,35360.0,1016,Fairland,IN,46126,2018-08-18,8,2018
27,35,7088296,power,power-pontoon,Sun Tracker,Party Barge 18 DLX,0,new,20.00,8.17,1495.0,aluminum,NaN,1,60.0,NaN,NaN,outboard,22365.0,1016,Fairland,IN,46126,2019-05-20,5,2019
28,36,5476174,power,power-saltfish,Topaz,28 Express,40,used,28.00,10.25,8100.0,fiberglass,gasoline,2,460.0,NaN,NaN,inboard,9900.0,17929,Point Pleasant Beach,NJ,NaN,2015-12-17,12,2015
29,37,6942537,power,power-saltfish,Seaswirl Striper,2601 Walkaround I/O,13,used,26.00,8.50,5150.0,fiberglass,gasoline,1,350.0,0.0,0.0,inboard-outboard,30000.0,17929,Point Pleasant Beach,NJ,08742,2018-12-20,12,2018
30,38,6959643,power,power-center,Sea Fox,239 Center Console,4,used,24.00,8.50,NaN,fiberglass,gasoline,1,200.0,4.0,4.0,outboard-4s,59900.0,17929,Fort Pierce,FL,34949,2019-01-17,1,2019
31,39,1051200,power,power-center,Silverhawk,24 Outboard Center Console,12,used,24.00,8.50,NaN,fiberglass,gasoline,1,225.0,12.0,12.0,outboard-2s,29999.0,17929,Fort Pierce,FL,NaN,2010-02-01,2,2010
32,40,7127715,power,power-center,Angler,Grande Bay 22,12,used,22.00,8.50,2500.0,fiberglass,gasoline,1,200.0,13.0,13.0,outboard-2s,26400.0,17929,Fort Pierce,FL,34949,2019-06-25,6,2019
33,41,7035774,power,power-saltfish,Trophy,2102 Walkaround,11,used,21.58,8.08,3430.0,fiberglass,gasoline,1,150.0,11.0,11.0,outboard-4s,27900.0,17929,Passaic,NJ,07055,2019-04-01,4,2019
34,42,7225883,power,power-bowrider,Crownline,E235XS,0,used,23.00,8.50,4500.0,fiberglass,gasoline,1,200.0,0.0,0.0,outboard,54000.0,235704,Stuart,FL,34994,2019-09-21,9,2019
35,43,6655836,power,power-mega,Sea Ray,L650 Fly,0,new,65.00,17.17,80500.0,fiberglass,diesel,2,2300.0,NaN,NaN,inboard,2648460.0,44175,Pompano Beach,FL,33062,2018-03-22,3,2018
36,44,6544212,power,power-sportcruiser,Galeon,405 HTS,-1,new,40.00,NaN,NaN,fiberglass,diesel,2,740.0,NaN,NaN,inboard,499000.0,46759,Pottsboro,TX,75076,2017-11-28,11,2017
37,45,6851197,power,power-mega,Galeon,420 Fly,-1,new,42.00,NaN,NaN,fiberglass,diesel,2,870.0,NaN,NaN,inboard,649000.0,44153,Miami,FL,33138,2018-09-21,9,2018
38,46,6851209,power,power-mega,Galeon,420 Fly,-1,new,42.00,NaN,NaN,fiberglass,diesel,2,870.0,NaN,NaN,inboard,649000.0,62546,Boston,MA,02122,2018-09-21,9,2018
39,47,6621853,power,power-motor,Galeon,510 Skydeck,0,new,51.00,NaN,NaN,fiberglass,diesel,2,1340.0,NaN,NaN,inboard,1099000.0,44115,Ft. Myers,FL,33919,2018-02-19,2,2018
40,48,6743738,power,power-cruiser,Galeon,485 HTS,-1,new,44.00,NaN,37920.0,fiberglass,diesel,2,870.0,NaN,NaN,inboard,799000.0,44179,Port Clinton,OH,43452,2018-06-12,6,2018
41,49,6764671,power,power-mega,Galeon,500 Fly,-1,new,50.00,NaN,NaN,fiberglass,diesel,2,1340.0,NaN,NaN,inboard,1099000.0,62546,Boston,MA,02122,2018-07-03,7,2018
42,50,6851262,power,power-mega,Galeon,500 Fly,-1,new,50.00,NaN,NaN,fiberglass,diesel,2,1340.0,NaN,NaN,inboard,1099000.0,44089,Baltimore,MD,21224,2018-09-21,9,2018
43,51,6851294,power,power-mega,Galeon,510 SKY,-1,new,51.00,NaN,NaN,fiberglass,diesel,2,1340.0,NaN,NaN,inboard,1199000.0,44103,Clearwater,FL,33764,2018-09-21,9,2018
44,52,6854717,power,power-mega,Galeon,500 Fly,-1,new,50.00,NaN,NaN,fiberglass,diesel,2,1340.0,NaN,NaN,inboard,1149000.0,44185,Seabrook,TX,77586,2018-09-25,9,2018
45,53,6851225,power,power-mega,Galeon,470 SKY,-1,new,47.00,NaN,NaN,fiberglass,diesel,2,1100.0,NaN,NaN,inboard,899000.0,62546,Boston,MA,02122,2018-09-21,9,2018
46,54,6792452,power,power-mega,Galeon,510 SKY,-1,new,51.00,NaN,NaN,fiberglass,diesel,2,1340.0,NaN,NaN,inboard,1225000.0,21315,Charleston,SC,29492,2018-08-01,8,2018
47,55,6792626,power,power-mega,Galeon,430 HTC,-1,new,43.00,NaN,NaN,fiberglass,diesel,2,870.0,NaN,NaN,inboard,649000.0,44189,Somers Point,NJ,08244,2018-08-01,8,2018
48,56,6792628,power,power-mega,Galeon,430 HTC,-1,new,43.00,NaN,NaN,fiberglass,diesel,2,870.0,NaN,NaN,inboard,649000.0,44155,Naples,FL,34102,2018-08-01,8,2018
49,57,6792641,power,power-mega,Galeon,430 HTC,-1,new,43.00,NaN,NaN,fiberglass,diesel,2,870.0,NaN,NaN,inboard,649000.0,44103,Clearwater,FL,33764,2018-08-01,8,2018

In [7]:
df[['maxEngineYear','minEngineYear','year']].head()

   maxEngineYear  minEngineYear  year
0            NaN            NaN    27
1            1.0            1.0     1
2            0.0            0.0    -1
3            NaN            NaN     4
4           24.0           24.0    24

In [8]:
import numpy as np
num_features=['year','length_ft', 'beam_ft', 'dryWeight_lb','numEngines','totalHP','maxEngineYear','minEngineYear','sellerId','price','created_month','created_year']

for feature in num_features:
    
    df[feature]=np.log(df[feature])

/home/kuba/anaconda3/lib/python3.11/site-packages/pandas/core/arraylike.py:396: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/kuba/anaconda3/lib/python3.11/site-packages/pandas/core/arraylike.py:396: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [9]:
df.head()

,Unnamed: 0,id,type,boatClass,make,model,year,condition,length_ft,beam_ft,dryWeight_lb,hullMaterial,fuelType,numEngines,totalHP,maxEngineYear,minEngineYear,engineCategory,price,sellerId,city,state,zip,created_date,created_month,created_year
0,1,7252689,power,power-center,Aquasport,210 CC,3.295837,used,3.044522,2.140066,8.006368,fiberglass,gasoline,0.000000,5.010635,NaN,NaN,outboard-4s,9.711116,12.287897,Englewood,FL,34224,2019-10-16,2.302585,7.610358
1,3,7228300,power,power-sportcruiser,Formula,400 Super Sport,0.000000,used,3.688879,2.397895,9.686575,fiberglass,diesel,0.693147,6.684612,0.000000,0.000000,inboard-outboard,13.197471,10.697837,Harsens Island,MI,48028,2019-09-24,2.197225,7.610358
2,5,7271336,power,power-deck,Bayliner,Element 180,NaN,new,2.890372,2.004179,7.600902,fiberglass,gasoline,0.000000,4.317488,-inf,-inf,outboard-4s,10.203407,12.303970,Marietta,OH,45750,2019-11-02,2.397895,7.610358
3,6,7222952,power,power-expresscruiser,Regal,32 Express,1.386294,used,3.465736,2.335052,9.445412,fiberglass,gasoline,0.693147,6.396930,NaN,NaN,multiple,12.043524,10.458349,North Charleston,SC,29405,2019-09-19,2.197225,7.610358
4,8,6824832,power,power-aft,Carver,440 Aft Cabin Motor Yacht,3.178054,used,3.784190,2.708050,10.373491,fiberglass,diesel,0.693147,6.551080,3.178054,3.178054,inboard,11.607326,9.794900,Middle River,MD,21220,2018-08-29,2.079442,7.609862

In [10]:
discrete_feature = []

for feature in numerical_features:
    if len(df[feature].unique()) < 25 and feature not in year_feature + ['id']:
        discrete_feature.append(feature)

print("Discrete Variables Count:", len(discrete_feature))

Discrete Variables Count: 3

In [11]:
categorical_features = []

for feature in df.columns:
    if df[feature].dtype == 'O':
        categorical_features.append(feature)

print("Categorical Variables Count:", len(categorical_features))

Categorical Variables Count: 12

In [12]:
categorical_features

['type',
 'boatClass',
 'make',
 'model',
 'condition',
 'hullMaterial',
 'fuelType',
 'engineCategory',
 'city',
 'state',
 'zip',
 'created_date']

In [13]:
for feature in categorical_features:
    temp=df.groupby(feature)['price'].count()/len(df)
    temp_df=temp[temp>0.01].index
    df[feature]=np.where(df[feature].isin(temp_df),df[feature],'Rare_var')

In [14]:
df.head(10)

,Unnamed: 0,id,type,boatClass,make,model,year,condition,length_ft,beam_ft,dryWeight_lb,hullMaterial,fuelType,numEngines,totalHP,maxEngineYear,minEngineYear,engineCategory,price,sellerId,city,state,zip,created_date,created_month,created_year
0,1,7252689,power,power-center,Rare_var,Rare_var,3.295837,used,3.044522,2.140066,8.006368,fiberglass,gasoline,0.000000,5.010635,NaN,NaN,outboard-4s,9.711116,12.287897,Rare_var,FL,Rare_var,Rare_var,2.302585,7.610358
1,3,7228300,power,Rare_var,Rare_var,Rare_var,0.000000,used,3.688879,2.397895,9.686575,fiberglass,diesel,0.693147,6.684612,0.000000,0.000000,inboard-outboard,13.197471,10.697837,Rare_var,MI,Rare_var,Rare_var,2.197225,7.610358
2,5,7271336,power,power-deck,Bayliner,Rare_var,NaN,new,2.890372,2.004179,7.600902,fiberglass,gasoline,0.000000,4.317488,-inf,-inf,outboard-4s,10.203407,12.303970,Rare_var,OH,Rare_var,Rare_var,2.397895,7.610358
3,6,7222952,power,power-expresscruiser,Rare_var,Rare_var,1.386294,used,3.465736,2.335052,9.445412,fiberglass,gasoline,0.693147,6.396930,NaN,NaN,Rare_var,12.043524,10.458349,Rare_var,SC,Rare_var,Rare_var,2.197225,7.610358
4,8,6824832,power,Rare_var,Rare_var,Rare_var,3.178054,used,3.784190,2.708050,10.373491,fiberglass,diesel,0.693147,6.551080,3.178054,3.178054,inboard,11.607326,9.794900,Rare_var,Rare_var,Rare_var,Rare_var,2.079442,7.609862
5,9,7240180,power,power-cruiser,Rare_var,Rare_var,-inf,used,3.761200,2.633327,10.297217,fiberglass,diesel,0.693147,6.684612,NaN,NaN,Rare_var,13.345507,10.267123,Miami,FL,Rare_var,Rare_var,2.302585,7.610358
6,10,6851456,power,Rare_var,Rare_var,Rare_var,NaN,new,3.828641,2.662355,10.513715,fiberglass,diesel,0.693147,7.003065,NaN,NaN,inboard,13.763164,10.696005,Rare_var,OH,Rare_var,Rare_var,2.197225,7.609862
7,11,6851563,power,Rare_var,Rare_var,Rare_var,NaN,new,3.912023,2.979095,10.822873,fiberglass,diesel,0.693147,7.200425,NaN,NaN,inboard,14.114874,10.696005,Rare_var,OH,Rare_var,Rare_var,2.197225,7.609862
8,13,6952573,power,Rare_var,Rare_var,Rare_var,2.302585,used,4.634729,3.153590,12.089539,fiberglass,diesel,0.693147,8.202482,NaN,NaN,inboard,15.009130,10.267123,Miami,FL,Rare_var,Rare_var,0.000000,7.610358
9,14,6920067,power,Rare_var,Rare_var,Rare_var,3.850148,used,3.737670,2.626840,10.474467,fiberglass,diesel,0.693147,6.733402,3.713572,3.713572,inboard,10.993732,9.733648,Rare_var,CT,Rare_var,Rare_var,2.397895,7.609862

In [15]:
#Label Encoding
for feature in categorical_features:
    labels_ordered=df.groupby([feature])['price'].mean().sort_values().index
    labels_ordered={k:i for i,k in enumerate(labels_ordered,0)}
    df[feature]=df[feature].map(labels_ordered)

In [16]:
df.head(10)

,Unnamed: 0,id,type,boatClass,make,model,year,condition,length_ft,beam_ft,dryWeight_lb,hullMaterial,fuelType,numEngines,totalHP,maxEngineYear,minEngineYear,engineCategory,price,sellerId,city,state,zip,created_date,created_month,created_year
0,1,7252689,1,17,12,0,3.295837,1,3.044522,2.140066,8.006368,3,2,0.000000,5.010635,NaN,NaN,2,9.711116,12.287897,7,24,1,3,2.302585,7.610358
1,3,7228300,1,9,12,0,0.000000,1,3.688879,2.397895,9.686575,3,3,0.693147,6.684612,0.000000,0.000000,3,13.197471,10.697837,7,12,1,3,2.197225,7.610358
2,5,7271336,1,10,4,0,NaN,0,2.890372,2.004179,7.600902,3,2,0.000000,4.317488,-inf,-inf,2,10.203407,12.303970,7,11,1,3,2.397895,7.610358
3,6,7222952,1,18,12,0,1.386294,1,3.465736,2.335052,9.445412,3,2,0.693147,6.396930,NaN,NaN,1,12.043524,10.458349,7,10,1,3,2.197225,7.610358
4,8,6824832,1,9,12,0,3.178054,1,3.784190,2.708050,10.373491,3,3,0.693147,6.551080,3.178054,3.178054,4,11.607326,9.794900,7,9,1,3,2.079442,7.609862
5,9,7240180,1,13,12,0,-inf,1,3.761200,2.633327,10.297217,3,3,0.693147,6.684612,NaN,NaN,1,13.345507,10.267123,9,24,1,3,2.302585,7.610358
6,10,6851456,1,9,12,0,NaN,0,3.828641,2.662355,10.513715,3,3,0.693147,7.003065,NaN,NaN,4,13.763164,10.696005,7,11,1,3,2.197225,7.609862
7,11,6851563,1,9,12,0,NaN,0,3.912023,2.979095,10.822873,3,3,0.693147,7.200425,NaN,NaN,4,14.114874,10.696005,7,11,1,3,2.197225,7.609862
8,13,6952573,1,9,12,0,2.302585,1,4.634729,3.153590,12.089539,3,3,0.693147,8.202482,NaN,NaN,4,15.009130,10.267123,9,24,1,3,0.000000,7.610358
9,14,6920067,1,9,12,0,3.850148,1,3.737670,2.626840,10.474467,3,3,0.693147,6.733402,3.713572,3.713572,4,10.993732,9.733648,7,20,1,3,2.397895,7.609862

In [17]:
#scaling_feature=[feature for feature in df.columns if feature not in ['id','price'] ]
#len(scaling_feature)
scaling_feature = []

for feature in df.columns:
    if feature not in ['id', 'price']:
        scaling_feature.append(feature)

print("Number of Scaling Features:", len(scaling_feature))

Number of Scaling Features: 24

In [18]:
scaling_feature

['Unnamed: 0',
 'type',
 'boatClass',
 'make',
 'model',
 'year',
 'condition',
 'length_ft',
 'beam_ft',
 'dryWeight_lb',
 'hullMaterial',
 'fuelType',
 'numEngines',
 'totalHP',
 'maxEngineYear',
 'minEngineYear',
 'engineCategory',
 'sellerId',
 'city',
 'state',
 'zip',
 'created_date',
 'created_month',
 'created_year']

In [19]:
df.head()

,Unnamed: 0,id,type,boatClass,make,model,year,condition,length_ft,beam_ft,dryWeight_lb,hullMaterial,fuelType,numEngines,totalHP,maxEngineYear,minEngineYear,engineCategory,price,sellerId,city,state,zip,created_date,created_month,created_year
0,1,7252689,1,17,12,0,3.295837,1,3.044522,2.140066,8.006368,3,2,0.000000,5.010635,NaN,NaN,2,9.711116,12.287897,7,24,1,3,2.302585,7.610358
1,3,7228300,1,9,12,0,0.000000,1,3.688879,2.397895,9.686575,3,3,0.693147,6.684612,0.000000,0.000000,3,13.197471,10.697837,7,12,1,3,2.197225,7.610358
2,5,7271336,1,10,4,0,NaN,0,2.890372,2.004179,7.600902,3,2,0.000000,4.317488,-inf,-inf,2,10.203407,12.303970,7,11,1,3,2.397895,7.610358
3,6,7222952,1,18,12,0,1.386294,1,3.465736,2.335052,9.445412,3,2,0.693147,6.396930,NaN,NaN,1,12.043524,10.458349,7,10,1,3,2.197225,7.610358
4,8,6824832,1,9,12,0,3.178054,1,3.784190,2.708050,10.373491,3,3,0.693147,6.551080,3.178054,3.178054,4,11.607326,9.794900,7,9,1,3,2.079442,7.609862

In [20]:
df.replace([-np.inf, np.nan], 0, inplace=True)

In [21]:
df.head()

,Unnamed: 0,id,type,boatClass,make,model,year,condition,length_ft,beam_ft,dryWeight_lb,hullMaterial,fuelType,numEngines,totalHP,maxEngineYear,minEngineYear,engineCategory,price,sellerId,city,state,zip,created_date,created_month,created_year
0,1,7252689,1,17,12,0,3.295837,1,3.044522,2.140066,8.006368,3,2,0.000000,5.010635,0.000000,0.000000,2,9.711116,12.287897,7,24,1,3,2.302585,7.610358
1,3,7228300,1,9,12,0,0.000000,1,3.688879,2.397895,9.686575,3,3,0.693147,6.684612,0.000000,0.000000,3,13.197471,10.697837,7,12,1,3,2.197225,7.610358
2,5,7271336,1,10,4,0,0.000000,0,2.890372,2.004179,7.600902,3,2,0.000000,4.317488,0.000000,0.000000,2,10.203407,12.303970,7,11,1,3,2.397895,7.610358
3,6,7222952,1,18,12,0,1.386294,1,3.465736,2.335052,9.445412,3,2,0.693147,6.396930,0.000000,0.000000,1,12.043524,10.458349,7,10,1,3,2.197225,7.610358
4,8,6824832,1,9,12,0,3.178054,1,3.784190,2.708050,10.373491,3,3,0.693147,6.551080,3.178054,3.178054,4,11.607326,9.794900,7,9,1,3,2.079442,7.609862

In [22]:
feature_scale = []

for feature in df.columns:
    if feature not in ['id', 'price']:
        feature_scale.append(feature)

print("Number of Features to Scale:", len(feature_scale))


from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(df[feature_scale])

Number of Features to Scale: 24

MinMaxScaler()

In [23]:
scaler.transform(df[feature_scale])

array([[0.00000000e+00, 5.00000000e-01, 8.94736842e-01, ...,
        5.00000000e-01, 9.26628408e-01, 1.00000000e+00],
       [1.00005000e-04, 5.00000000e-01, 4.73684211e-01, ...,
        5.00000000e-01, 8.84228217e-01, 1.00000000e+00],
       [2.00010001e-04, 5.00000000e-01, 5.26315789e-01, ...,
        5.00000000e-01, 9.64984046e-01, 1.00000000e+00],
       ...,
       [9.99899995e-01, 5.00000000e-01, 6.31578947e-01, ...,
        5.00000000e-01, 1.00000000e+00, 9.37732554e-01],
       [9.99949997e-01, 5.00000000e-01, 4.21052632e-01, ...,
        5.00000000e-01, 6.47685462e-01, 1.00000000e+00],
       [1.00000000e+00, 5.00000000e-01, 6.84210526e-01, ...,
        5.00000000e-01, 7.83091851e-01, 1.00000000e+00]])

In [24]:
# transform the train and test set, and add on the id and Price variables
data = pd.concat([df[['id', 'price']].reset_index(drop=True),
                    pd.DataFrame(scaler.transform(df[feature_scale]), columns=feature_scale)],
                    axis=1)

In [25]:
df.head()

,Unnamed: 0,id,type,boatClass,make,model,year,condition,length_ft,beam_ft,dryWeight_lb,hullMaterial,fuelType,numEngines,totalHP,maxEngineYear,minEngineYear,engineCategory,price,sellerId,city,state,zip,created_date,created_month,created_year
0,1,7252689,1,17,12,0,3.295837,1,3.044522,2.140066,8.006368,3,2,0.000000,5.010635,0.000000,0.000000,2,9.711116,12.287897,7,24,1,3,2.302585,7.610358
1,3,7228300,1,9,12,0,0.000000,1,3.688879,2.397895,9.686575,3,3,0.693147,6.684612,0.000000,0.000000,3,13.197471,10.697837,7,12,1,3,2.197225,7.610358
2,5,7271336,1,10,4,0,0.000000,0,2.890372,2.004179,7.600902,3,2,0.000000,4.317488,0.000000,0.000000,2,10.203407,12.303970,7,11,1,3,2.397895,7.610358
3,6,7222952,1,18,12,0,1.386294,1,3.465736,2.335052,9.445412,3,2,0.693147,6.396930,0.000000,0.000000,1,12.043524,10.458349,7,10,1,3,2.197225,7.610358
4,8,6824832,1,9,12,0,3.178054,1,3.784190,2.708050,10.373491,3,3,0.693147,6.551080,3.178054,3.178054,4,11.607326,9.794900,7,9,1,3,2.079442,7.609862

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_error

In [27]:
X = df.drop(["id","price"], axis=1)
y = df["price"]

In [29]:
# Assuming x and y are your feature and target variables
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [31]:
# Create a Random Forest Regressor
rf_regressor = RandomForestRegressor()

# Define the grid of hyperparameters to search
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20],
#     'min_samples_split': [2, 5, 10],
#     'min_samples_leaf': [1, 2, 4]
}

# Perform Grid Search to find the best hyperparameters
grid_search = GridSearchCV(estimator=rf_regressor, param_grid=param_grid, cv=10, n_jobs=-1)
grid_search.fit(X_train, y_train)

GridSearchCV(cv=10, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'max_depth': [None, 10, 20],
                         'n_estimators': [100, 200, 300]})

In [32]:
y_pred = grid_search.predict(X_test)

mean_absolute_error(y_test, y_pred)

0.1916746666307829

In [34]:
y.mean()

10.388366873110424